
body {
			margin-top: 2em;
	}

.contributor-data {
	background-color: #eee;
	margin-bottom: 1rem;
	padding: 0.5rem 1rem;
}

.contributor-data-inline-form {
	display: inline-block;
}

.contributor-data-button {
	background: none;
	border: 1px #444 solid;
	border-radius: 3px;
	margin: 5px;
	text-shadow: none;
	color: #333;
	font-size: 12px;
}


.contributor-data-button:hover {
	background: none;
	color: #333;
}

.contributor-data-button:focus {
	background: none;
	color: #333;
}

.new-contributor-form-wrapper {
	position: fixed;
}