{% extends 'base.html' %}

{% block title %}Add contributor | Admin{% endblock %}

{% block content %}
<div class="fluid-wrap">
	<div class="fluid-row">
		<div class="col-12">
			<h1 class="article-heading">Add contributor</h1>
		</div>
	</div>

	<div class="fluid-row margin-top">
		<div class="col-8">
			{% for contributor in contributors %}
			<section id="{{contributor.key.urlsafe()}}" class="contributor-data">
				<dl>
					<dt>Profile path</dt><dd><a href="http://www.theguardian.com{{contributor.profile_path}}">{{contributor.profile_path}}</a></dd>
					<dt>Twitter handle</dt><dd><a href="https://twitter.com/{{contributor.twitter_handle}}">{{contributor.twitter_handle}}</a></dd>
					{% if contributor.twitter_brand_handle %}
					<dt>Brand Twitter handle</dt><dd><a href="https://twitter.com/{{contributor.twitter_brand_handle}}">{{contributor.twitter_brand_handle}}</a></dd>
					{% endif %}
					{% if contributor.google_plus_id %}
					<dt>Google Plus </dt><dd><a href="https://plus.google.com/{{contributor.google_plus_id}}">{{contributor.google_plus_id}}</a></dd>
					{% endif %}
				</dl>
				<form method="GET" action="/admin/edit-contributor/{{contributor.key.urlsafe()}}" class="contributor-data-inline-form">
					<button type="submit" class="contributor-data-button">Edit</button>
				</form>
				<form method="POST" action="/admin/remove-contributor" class="contributor-data-inline-form">
					<input type="hidden" name="profile_path" value="{{contributor.profile_path}}"/>
					<button type="submit" class="contributor-data-button">Delete</button>
				</form>
			</section>
			{% endfor %}
		</div>
		<div class="col-4">
			<div class="new-contributor-form-wrapper">
				<h2 class="sub-heading">Add a new contributor</h2>

				<form method="POST">
					<div class="field">
						<label>Profile path<br><input id="profile-path" type="text" name="profile_path" required></label>
							
					</div>
					<div class="field">
					<label>Twitter handle<br><input type="text" name="twitter_handle" required></label>
					</div>
					<div class="field">
					<label>Brand Twitter account<br><input type="text" name="twitter_brand_handle"></label>
					</div>
					<div class="field">
					<label>Google Plus Id<br><input type="text" name="google_plus_id"></label>
					</div>
					<button type="submit">Add</button>
				</form>
			</div>
		</div>
	</div>
</div>

{% endblock %}
